.normal-box {
    border-style: solid;
    border-color: gray;
  }
  
.black-box {
    background-color: black;
    color: white;
}
  
.grey-box {
      border-style: solid;
      background-color: darkgray;
      color: black;
}

.scroll-table {
    max-height: '200px';
    overflow-y: 'auto';
    text-size-adjust: '50';
}

.page-head {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.grade-circle {
    text-align: center;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}