.normal-box {
    border-style: solid;
    border-color: gray;
  }
  
.black-box {
    background-color: black;
    color: white;
}
  
.grey-box {
      border-style: solid;
      background-color: darkgray;
      color: black;
}

.page-head {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.my-custom-scrollbar {
    position: relative;
    height: 90vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.height-setter {
    width: fit-content;
    margin: auto;
}

.red-color {
    color: red
}

.red-color {
    color: green
}
    