.normal-box {
    border-style: solid;
    border-color: gray;
  }
  
.black-box {
    background-color: black;
    color: white;
}
  
.grey-box {
      border-style: solid;
      background-color: darkgray;
      color: black;
}

.scroll-table {
    max-height: '200px';
    overflow-y: 'auto';
    text-size-adjust: '50';
}